.Login  {
  text-align: center;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;


}
.Login body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.Login form {
  margin: 100px 0;
}
.login-name {
  
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: -70px;
    left: 0;
    width: 100%;
}
.Login input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-password {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: -70px;
    left: 0;
    width: 100%;
}

.Login input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.register-buttom
{
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: -70px;
  left: 0;
  width: 100%;
  background-color: #ccc;
  border-color: #ccc;
  color: black;
  padding: 14px 20px;
  margin: 12px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.register-buttom:hover {
  background-color: #ddd;
  border-color: #ddd;
}
.Login button[type="submit-buttom"]{
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: -70px;
  left: 0;
  width: 100%;
  background-color: #e47911;
  border-color: #e47911;
  color: black;
  padding: 19px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.Login button[type="submit-buttom"]:hover {
  background-color: #ff9900;
  border-color: #ff9900;
}
.Login button[type="submit-buttom"]:hover {
  opacity: 0.8;
}








