.address-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.payment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address-form input {
  border: 1px solid black;
  width: 300px;
}

.payment-form input {
  border: 1px solid black;
  width: 300px;
}
