body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.item-container{
  margin: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
}

.card{
  box-shadow: 0 0 10px 5px grey;
  border-radius: 0.2rem;
  min-width: 28rem;
  display: flex;
}
.card__image{
  width: 14rem;
  height: 11rem;
  object-fit: cover;
}
.card__body{
  margin: 1rem;
  flex-grow: 1;
}
.card__title{
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
  font-size: 18px;
  font-weight: bold;
}

.card__title:hover{
  cursor: pointer;
  text-decoration: underline;
}

.card__description{
  margin-top: 5px;
  line-height: 1.2rem;
}

.card__price{
  font-size: 1.4rem;
  margin-top: 0.6rem;
}
.card__btn{
  border: none;
  border-top: 1px solid grey;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: inherit;
  width: 100;
  padding-top: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 600px){
  .item-container{
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem)); 
  }
  .card{
    flex-direction: column;
    text-align: center;
    min-width: 14rem;
  }
  .card__image{
    width: 100%;
    height: 12rem;
    
  }
}