body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.item-container {
  margin: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
}

.product-container-title{
  font-size: 2.5rem;
  padding-top: 20px;
  font-weight: 600;
  background-image: linear-gradient(60deg, crimson, dodgerblue);
  background-clip: text;
  color: transparent;
}

.card {
  /* box-shadow: 0 0 10px 5px grey; */
  border: 1px solid #ddd;
  border-radius: 0.2rem;
  min-width: 28rem;
  display: flex;
}
.card__image {
  width: 14rem;
  height: 11rem;
  object-fit: cover;
}
.card__body {
  margin: 1rem;
  flex-grow: 1;
}
.card__title {
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
  font-size: 18px;
  font-weight: bold;
}

.card__title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.card__description {
  margin-top: 5px;
  line-height: 1.2rem;
  font-size: 15px;
}

.card__price {
  font-size: 1.4rem;
  margin-top: 0.6rem;
  padding-bottom: 1px;
}
.card__btn {
  border: none;
  border-top: 1px solid grey;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: inherit;
  width: 100;
  padding-top: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.card__btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  .item-container {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
  }
  .card {
    flex-direction: column;
    text-align: center;
    min-width: 14rem;
  }
  .card__image {
    width: 100%;
    height: 15rem;
  }
}

.quickLinksSmallContainer img{
  width: 90%;
}
.quick-link-container-title{
  font-size: 2.5rem;
  padding: 15px 0px;
  font-weight: 600;
  background-image: linear-gradient(60deg, deepskyblue, darkred);
  background-clip: text;
  color: transparent;
}
.quick-link-large-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.quickLinksSmallContainer{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: rgb(130,194,219);
  width: 30vw;
  height: 500px;
  padding: 45px;
  margin: 10px;
  border-radius: 30px;
  /* height: 400px; */
}
.quick-links-btn{
  background-color: rgb(220, 57, 59);
  padding: 5px 20px;
  border-radius: 50px;
  font-size: 1.3rem;
  color: white;
  margin-top: 10px;
}
.quick-links-btn:hover{
  background-color: rgb(200, 57, 59);
}
.quickLinksSmallContainer img:hover{
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.quick-links-title{
  font-size: 1.5rem;
  margin-top: 10px;
}